* {
    background-color: black;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
#h1 {
    background-color: aquamarine;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    color: black;
}
#h3 {
    background-color: aquamarine;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: black;
}
#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 600px;
    
}
.links {
    background-color: papayawhip;
    border: none;
    color: purple;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    font-weight: 800;
    margin: 4px 2px;
    cursor: pointer;
}
.steps,
.list,
.desc {
    font-size: medium;
    font-weight: 800;
    display: inline-block;

}
.big {
    font-size: 20px;
}
.inv {
    display: none;
}